Source: lightspark
Section: utils
Priority: optional
Maintainer: Don Xu <me@eipi.fun>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 nasm,
 libcurl4-openssl-dev,
 libsdl2-dev,
 libpango1.0-dev,
 libcairo2-dev,
 libavcodec-dev,
 libswresample-dev,
 libglew-dev,
 librtmp-dev,
 libjpeg-dev,
 libavformat-dev,
 liblzma-dev,
Standards-Version: 4.7.0
Homepage: http://lightspark.github.io
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/EiPiFun/lightspark
Vcs-Git: https://salsa.debian.org/EiPiFun/lightspark

Package: lightspark
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: open source flash player written in C++/C
 Lightspark is an open source flash player written in C++/C,
 it supports SWF files written on all versions of the ActionScript language.
